
.navItem {
    padding-right: 40px;
}

.navItem a {
    font-family: Helvetica;
    font-size: 19px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20.59px;
    text-align: left;
    text-decoration: none;
}

.navItem a:hover {
    color: black;
}

.active {
    color: black;
}

.inActive {
    color: #7a7a7a;
}

.Navbar {
    display: flex;
    margin-left: auto;
}

.main {
    margin-left: auto;
    margin-right: 37%;
    position: relative;
}
